.contact {
    padding-left: 130px;
}

.contact-title {
    color: #6023C5;
    font-size: 36px;
    font-weight: 600;
}

.contact-wrapper {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.contact-content {
    font-size:22px;
    max-width: 500px;
    line-height: 30px;
}

.top-logo {
    width: 100%;
}
