<section class="aboutus">
    <p class="aboutus-title">About us</p>
    <div class="aboutus-wrapper">
        <div class="aboutus-content">
          <p>A product that provides information, rich resources, high quality of data with the most updated documentation about the wildlife.</p>
          <p>Email: windzoo@gmail.com</p>
          <p>Phone number: (+84) 97 347 1728</p>
        </div>
        <div class="aboutus-content">
            <img class="top-logo" src="../assets/images/home-banner.png" alt="LOGO">
        </div>
    </div>

</section>