.top-bar {
  height: 121px;
  display: flex;
}

.top-logo {
  height: 54px;
  margin-left: 44px;
  margin-top: 42px;
  margin-right: 20px;
}

.top-bar-direction {
  margin-top: 60px;
}

.top-bar-link {
  height: 20px;
  margin-left: 60px;
  text-decoration: none;
}

.top-bar-txt {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 605;
  font-size: 17px;
  line-height: 20px;
}

.top-bar-txt:hover, .active-link{
  color: #BB92FF;
}

.unactive-link{
  color: #6023C5;
}

.top-icon {
  margin-top:61px;
  margin-left: auto;
  margin-right: 65px;
  float: right;
}

.top-icon-item {
  height: 24px;
  margin-left: 18px;
}

img {
  cursor: pointer;
}
