<footer class="footer-bg">
    <div class="footer-container">
        <div class="footer-item">
            <img class="top-logo" src="../assets/images/zoowind-logo-purple.jpg" alt="LOGO">
            <br/>
            <br/>
            <p><a href="/">Homepage</a></p>
            <p><a href="/activism">Activism</a></p>
            <p><a href="/rescue-centers">Rescue Centers</a></p>
            <p><a href="/about-us">About us</a></p>
            <p><a href="/contact">Contact</a></p>
        </div>
        <div class="footer-item" >
            <h3>Our mission</h3>
            <p>Provides researchers, nature lovers the best quality resources, finest materials from experts, organizations.</p>
        </div>
        <div class="footer-item">
            <h3>ZooWind</h3>
            <p>Location: 20 Nguyen Phong Sac, Hanoi, Vietnam</p>
            <p>Contact: (+84) 97 347 1728</p>
        </div>
    </div>
</footer>
